<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 使用扫描包的形式定义别名 -->
	<typeAliases>
		<package name="com.fanxin.po"/>
	</typeAliases>
    <!--1.配置环境 ，默认的环境id为mysql-->
    <environments default="mysql">
        <!--1.2.配置id为mysql的数据库环境 -->
        <environment id="mysql">
            <!-- 使用JDBC的事务管理 -->
            <transactionManager type="JDBC" />
            <!--数据库连接池 -->
            <dataSource type="POOLED">
			  <property name="driver" value="com.mysql.cj.jdbc.Driver" />
			  <property name="url" 
                            value="jdbc:mysql://localhost:3306/mybatis" />
			  <property name="username" value="fanxin" />
			  <property name="password" value="fanxinzhijia" />
            </dataSource>
        </environment>
    </environments>
    <!--2.配置Mapper的位置 -->
    <mappers>
		<mapper resource="com/fanxin/mapper/IdCardMapper.xml" />
		<mapper resource="com/fanxin/mapper/PersonMapper.xml" />
		<mapper resource="com/fanxin/mapper/UserMapper.xml" />
		<mapper resource="com/fanxin/mapper/OrdersMapper.xml" />
		<mapper resource="com/fanxin/mapper/ProductMapper.xml" />
    </mappers>
</configuration>







